[submodule "backend/lib/forge-std"]
	path = backend/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "backend/lib/protocol"]
	path = backend/lib/UMA
	url = https://github.com/UMAprotocol/protocol
[submodule "backend/lib/openzeppelin-contracts"]
	path = backend/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
